<h3 class="comment-header brown">Оставить комментарий</h3>
<p class="comment-header brown">Оставить комментарий</p>
<form name="comment_form">
	<input type="hidden" name="comment_id" value="[article_id]">
  <table class="post_form">

	<tr>
		<td>Имя:<span style="color: red;">*</span></td>
	  <td><input type="text" name="author"></td>
	</tr>

	<tr>
	  <td>Комментарий: <span style="color: red;">*</span></td>
	  <td><textarea name="comment" rows=10></textarea></td>
	</tr>
	<tr>
      <td><input type="submit" name="btn_add_comment" value="Отправить"></td>
    </tr>
  </table>
</form>
<h3 class="comment-header brown">Комментарии ( [comment_count] )</h3>
<p class="comment-header brown">Комментарии ( [comment_count] )</p>
