<div class="article">
  <a class="left preview" href="#">
    <img src="../modules/get_image.php?id=[cover_url]" alt="[title]" title="[title]"/>
  </a>

  <div class="description">
    <h4><span class="blue">Название:</span><span class="brown"> [title]</span></h4>
    <h4><span class="blue">Автор:</span><span class="brown"> [author]</span></h4>
    <h4><span class="blue">Год издания:</span><span class="brown"> [year]</span></h4>

    <p class="description-block">[text]</p>

    <p class="readmore-block">
      <a class="widget" href="javascript:history.go(-1)">Назад</a>
    </p>
  </div>
</div>
