<div class="article">
  <img class="left" src="[cover_url]" alt="flanagan"/>

  <div class="description">
    <h4><span class="blue">Название:</span><span class="brown"> [title]</span></h4>
    <h4><span class="blue">Автор:</span><span class="brown"> [author]</span></h4>
    <h4><span class="blue">Год издания:</span><span class="brown"> [year]</span></h4>

    <p class="description-block">[text]</p>

    <p class="readmore-block">
      <a class="widget" href="javascript:history.go(-1)">Назад</a>
    </p>
  </div>
</div>