/*стиль до 480px*/

/*увеличение шрифта блока контента*/
.description p {
		/*font-size: 1.1em;*/
}

.description h4 {
		font-size: 80%;
}

a.preview{
		width: 40%;
}

a.preview img{
		width: 100%;
}

.header {
		padding: 0;
}

.inner-header {
		padding: 5px;
		background-color: #2f73ed;
		background-image: linear-gradient(to right, #2f73ed, #96BCFF);
}

.inner-header a {
		font-family: 'Cormorant Infant', serif;
		font-size: 200%;
}

.inner-header a img {
		display: none;
}

.header-block {
		display: none;
}

.menu-button {
		display: none;
}

.small-logo {
		display: inline;
		color: #fff;
		text-shadow: -5px 5px 2px #000;
}

.gamburger {
		display: block;
		background-color: rgba(0, 0, 0, 0.15);
		padding: 4px;
		/*border-radius: 5px;*/
}