/*стиль до 700px*/

/*перемещение сайдбара вверх над основным блоком контента*/
.sidebar{
		float: none;
		width: 100%;
		margin-bottom: 10px;
}

/*растягивание блока контента на ширину страницы*/
.content{
		width: 100%;
}

/*отображение блока-кнопки меню*/
.menu-button{
		display: block;
}

/*удаление верхней рамки сайдбара*/
.sidebar-block{
		border-top-style: none;
}

/*скрытие блока меню*/
.sidebar-block, .sidebar-block-header{
		display: none;
}

/*скрыть форму добавления контента с таблицей внутри*/
div.desk_add_content_form{
		display: none;
}
/*показать блок с формой добавления контента*/
div.mob_add_content_form {
		display: block;
}

div.mob_add_content_form ul li {
		margin-bottom: 10px;
}