<div class="desk_add_content_form">
  <form enctype="multipart/form-data" name="add_content_form" method="post" action="?page=add_content"
        id="add_content_form">

    <table class="post_form">

      <tr>
        <td>Название:</td>
        <td><input type="text" name="book_title"></td>
      </tr>

      <tr>
        <td>Автор:</td>
        <td><input type="text" name="autor"></td>
      </tr>

      <tr>
        <td>Год издания:</td>
        <td><input type="text" name="year"></td>
      </tr>

      <tr>
        <td>Описание:</td>
        <td><textarea name="description"></textarea></td>
      </tr>

      <tr>
        <td>Выбрать категорию:</td>
        <td>
          <select name="categories">
            [while]
            <option value="[category_id]">[item]</option>
            [while]
          </select>
        </td>
      </tr>

      <tr>
        <td>Загрузить обложку:<br><br><input type="file" name="cover"></td>
      </tr>

      <tr>
        <td>Загрузить книгу:<br><br><input type="file" name="book_file"></td>
      </tr>

      <tr>
        <td><input type="submit" name="btn_add" value="Запостить"></td>
      </tr>

    </table>

  </form>
</div>


<div class="mob_add_content_form">

  <form enctype="multipart/form-data" name="add_content_form" method="post" id="mob_add_content_form"
        action="?page=add_content">

    <ul>

      <li>
        <label for="book_title">Название: </label><br/>
        <input type="text" name="book_title" id="book_title"><br/>
      </li>

      <li>
        <label for="autor">Автор: </label><br/>
        <input type="text" name="autor" id="autor"><br/>
      </li>

      <li>
        <label for="year">Год издания: </label><br/>
        <input type="text" name="year" id="year"><br/>
      </li>

      <li>
        <label for="description">Описание: </label><br/>
        <textarea name="description" id="description"></textarea><br/><br/>
      </li>

      <li>
        <label for="categories" id="categories">Выбрать категорию: </label><br/>
        <select name="categories">
          [while]
          <option value="[category_id]">[item]</option>
          [while]
        </select><br/>
      </li>

      <li>
        <label for="cover">Загрузить обложку: </label><br/><br/>
        <input type="file" name="cover" id="cover">
      </li>

      <li>
        <label for="book_file">Загрузить файл: </label><br/><br/>
        <input type="file" name="book_file" id="book_file">
      </li>

      <li>
        <input type="submit" name="btn_add" value="Запостить">
      </li>

    </ul>

  </form>

</div>


