<form enctype="multipart/form-data" name="add_content_form" method="post" action="?page=add_content">

  <table class="post_form">

    <tr>
      <td>Название:</td>
      <td><input type="text" name="book_title"></td>
    </tr>

    <tr>
      <td>Автор:</td>
      <td><input type="text" name="autor"></td>
    </tr>

    <tr>
      <td>Год издания:</td>
      <td><input type="text" name="year"></td>
    </tr>

    <tr>
      <td>Описание:</td>
      <td><textarea name="description"></textarea></td>
    </tr>

    <tr>
      <td>Выбрать категорию:</td>
      <td>
        <select name="categories">
          [while]
          <option value="[category_id]">[item]</option>
          [while]
        </select>
      </td>
    </tr>

    <tr>
      <td>Загрузить обложку:<br><br><input type="file" name="cover"></td>
    </tr>

    <tr>
      <td>Загрузить книгу:<br><br><input type="file" name="book_file"></td>
    </tr>

    <tr>
      <td><input type="submit" name="btn_add_post" value="Запостить"></td>
    </tr>

  </table>

</form>