<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><?=$title?></title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="../classes/js/App.js"></script>
  <script src="../classes/js/widgets/Widget.js"></script>
  <script src="../classes/js/widgets/notifications/Notification.js"></script>
  <script src="../classes/js/widgets/notifications/CheckForm.js"></script>
  <script src="../admin/js/main.js"></script>
  <link rel="stylesheet" href="templates/<?=$template?>/css/style.css"/>
  <link href="../favicon.ico" rel="shortcut icon" type="image/x-icon"/>

</head>
<body>

<!--ОБЕРТКА-->
<div class="outer">
  <!--ШАПКА-->
  <div class="header">
    <div class="inner-header">
      <a class="left" href="../admin/">
        <img src="templates/<?=$template?>/res/logo.png" alt="Лого" title="На главную"/>
        <span class="small-logo">библиотека кодера</span>
      </a>

      <div class="header-block"></div>
      <div class="logo2">
        <img src="templates/<?=$template?>/res/logo2.png" alt="Книги по программированию в высоком качестве"
             title="Книги в электронном качестве"/>
      </div>
    </div>
  </div>
  <!--ШАПКА-->
  <!--ВНУТРЕННЯЯ ОБЕРТКА-->
  <div class="wrapper">
    <!--ВНУТРЕННЯЯ ОБЕРТКА-->
    <!--ПРАВЫЙ САЙДБАР-->
    <div class="right sidebar">
      <!--МЕНЮ-->
      <?=$menu?>
      <!--МЕНЮ-->
    </div>
    <!--ПРАВЫЙ САЙДБАР-->
    <!--КОНТЕНТ-->
    <div class="content">
      <!--БЛОК СТАТЬИ-->
      <?=$content?>
      <!--БЛОК СТАТЬИ-->
    </div>
    <!--КОНТЕНТ-->
  </div>
  <!--ФУТЕР-->
  <div class="footer">

  </div>
  <!--ФУТЕР-->
</div>
<!--ОБЕРТКА-->
</body>
</html>
