<div class="book">
    <a class="book__link" href="?full_article=[article_id]">
        <img class="book__img" src="../modules/get_image.php?id=[cover_url]" alt="[title]" title="[title]">
    </a>

    <!--book description block-->
    <div class="book__description book-description">
        <h4 class="book__name">
            <span class="book-description__name">Название: </span>
            <span class="book-description__value"> [title]</span>
        </h4>
        <h4 class="book__author">
            <span class="book-description__name">Автор: </span>
            <span class="book-description__value"> [author]</span>
        </h4>
        <h4 class="book__year">
            <span class="book-description__name">Год издания: </span>
            <span class="book-description__value"> [year]</span>
        </h4>
        <p class="book__content">[text]</p>
        <a class="book__button" href="?full_article=[article_id]">Подробнее >></a>
        <a class="book__button book__button_margin" href="../book_files/[book_file]">Скачать</a>
    </div>
    <!--book description block-->
</div>